img {
    width: 200px;
}
body {
    color: #00CC66;
    background-image: url('bg.png');
    font-family: Arial;
}

.directions {
    font-weight: bold;
    color: #ffcc66;
}

#love {
    font-style: italic;
}

p span {
    color: red;
}

div {
    border: 2px solid yellow;
}
       